<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Virtual Wallet - Summary</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet">

</head>
<script th:src="@{/vendor/chart.js/Chart.js}"></script>
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
<script th:src="@{/vendor/chart.js/Chart.bundle.js}"></script>
<body id="page-top">
<!-- Page Wrapper -->

<div id="wrapper">

    <!-- Sidebar -->
    <div th:replace="/fragments/sidebar.html :: sidebar"/>

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <div th:replace="/fragments/navbar.html :: navbar"/>

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h4 class="h4 mb-0 text-gray-800" th:text="'Hello, ' + ${session.currentUser}">Dashboard</h4>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Balance Card -->
                    <div class="col-xl-4 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            <label th:text="#{index.balance}">Balance</label>
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            <h2 th:text="${#numbers.formatDecimal(balance, 0, 2)}"></h2>
                                        </div>
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            <a href="#" th:href="@{/myaccount/deposit}"
                                               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                                <i class="fas fa-download fa-sm text-white-10"></i> Deposit</a>
                                            <a href="#" th:href="@{/myaccount/transactions/new}"
                                               class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                                <i class="fas fa-upload fa-sm text-white-10"></i> Send</a>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

                <!-- Content Row -->

                <div class="row">

                    <!-- Pie Chart -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Revenue</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div th:if="${earnings.isEmpty()}" class="card-body">
                                    <div class="row" style="color: black" th:text="#{index.revenue.empty}">No
                                        Revenue
                                    </div>
                                </div>
                                <div th:unless="${earnings.isEmpty()}" class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <script th:inline="javascript">
                                        /*<![CDATA[*/
                                        var ctx = document.getElementById("myPieChart");
                                        var myPieChart = new Chart(ctx, {
                                            type: 'doughnut',
                                            data: {
                                                labels: ["Income", "Outcome", "Deposit"],
                                                datasets: [{
                                                    data: [[${earnings.values()}]],
                                                    backgroundColor: ['#1cc88a', '#db523d', '#858796'],
                                                    hoverBackgroundColor: ['#1cc88a', '#db523d', '#858796'],
                                                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                                                }],
                                            },
                                            options: {
                                                maintainAspectRatio: false,
                                                tooltips: {
                                                    backgroundColor: "rgb(255,255,255)",
                                                    bodyFontColor: "#858796",
                                                    borderColor: '#dddfeb',
                                                    borderWidth: 1,
                                                    xPadding: 15,
                                                    yPadding: 15,
                                                    displayColors: false,
                                                    caretPadding: 10,
                                                },
                                                legend: {
                                                    display: false
                                                },
                                                cutoutPercentage: 80,
                                            },
                                        });
                                        /*]]>*/
                                    </script>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-body"></i> Deposit
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Income
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-danger"></i> Outcome
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Latest Transactions -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="card shadow mb-4">

                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary" th:text="#{index.latest.transactions}">
                                    Latest Transactions</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div th:if="${transactions.isEmpty()}" class="card-body">
                                    <div class="row" style="color: black" th:text="#{index.transactions.empty}">No
                                        Transactions
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5" style="color: green; font-size: 16px"></div>
                                </div>
                                <div th:unless="${transactions.isEmpty()}" class="card-body"
                                     th:each="transaction : ${transactions}">
                                    <div th:if="${transaction.sender} == ${session.currentUser}">
                                        <div class="row">
                                            <div class="col-5" style="color: red; font-size: 16px"
                                                 th:text="${transaction.amount}">Transfer
                                                1
                                            </div>
                                            <div class="col-5" style="color: dodgerblue; font-size: 16px"
                                                 th:text="${transaction.timestamp}">Timestamp 1
                                            </div>
                                        </div>
                                    </div>
                                    <div th:unless="${transaction.sender} == ${session.currentUser}">
                                        <div class="row">
                                            <div class="col-5" style="color: green; font-size: 16px"
                                                 th:text="${transaction.amount}">Transfer 1
                                            </div>
                                            <div class="col-5" style="color: dodgerblue; font-size: 16px"
                                                 th:text="${transaction.timestamp}">Timestamp 1
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <!-- Latest Transfers -->
                    <div class="col-xl-4 col-lg-5">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary" th:text="#{index.latest.transfers}">Latest
                                    Transfers</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div th:if="${transfers.isEmpty()}" class="card-body">
                                    <div class="row" style="color: black; font-size: 16px"
                                         th:text="#{index.transfers.empty}">No Transfers
                                    </div>
                                </div>

                                <div th:unless="${transfers.isEmpty()}" class="card-body"
                                     th:each="transfer : ${transfers}">
                                    <div class="row">
                                        <div class="col-5" style="color: black; font-size: 16px"
                                             th:text="${transfer.amount}">Transfer 1
                                        </div>
                                        <div class="col-5" style="color: dodgerblue; font-size: 16px"
                                             th:text="${transfer.timestamp}">Timestamp 1
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>© Virtual Wallet 2023</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->


    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->


<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="#" th:href="@{/auth/logout}">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.js}"></script>
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>
<script th:src="@{/vendor/chart.js/Chart.bundle.js}"></script>

</body>

</html>